/*=================================================================
                           [Google font]
=================================================================*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

/*=================================================================
                            BASIC STYLE
=================================================================*/
*{
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}

a.drop-btn {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 8px 20px;
    background: #ff5f60;
    border-radius: 25px;
    text-decoration: none;
}

p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 24px;
}

.zero-height {
    height: 0;
}

button:focus {
    outline: none;
}

/*=================================================================
                            Header Style
=================================================================*/
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 0;
    height: auto;
    width: 100%;
    z-index: 9999;
}

.navbar-brand figure img {
    height: 40px;
}

.navbar-dark .navbar-nav .nav-item {
    margin-left: 34px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.signup-btn {
    padding: 0;
    margin-left: 80px;
}

.signup-btn li {
    list-style: none;
}

.signup-btn li a {
    color: #ffffff;
    text-decoration: none;
}

.display-table {
    height: 100%;
    width: 100%;
    display: table;
}

.display-table .display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

/*=================================================================
                            Banner Style
=================================================================*/
.banner {
    position: relative;
    height: 100%;
    width: 100%;
    background: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner h1 {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
}

.banner p {
    color: #ffffff;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 36px;
}


/*=================================================================
                          Applyinfo Style
=================================================================*/
.applyinfo {
    height: auto;
    width: 100%;
    background: #ffffff;
}

.applyinfo .apply-box {
    height: auto;
    width: calc(100% - 45px);
    padding: 35px 30px 50px 30px;
    text-align: center;
    background: #ff5f60;
    border-radius: 12px;
    -webkit-box-shadow: 0px -10px 0px 0px rgba(24, 50, 81, 1);
    box-shadow: 0px -10px 0px 0px rgba(24, 50, 81, 1);
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}

.applyinfo .apply-box h4 {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-bottom: 15px;
    position: relative;
}

.applyinfo .apply-box h4::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 70px;
    background: #ffffff;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
}

.applyinfo .apply-box p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
}

.applyinfo .apply-box form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.applyinfo .apply-box form input[type=email] {
    height: auto;
    max-width: 220px;
    color: #a9a5a5;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 16px 5px 16px 25px;
    border: none;
    vertical-align: middle;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.applyinfo .apply-box form input[type=email]:focus {
    outline: none;
}

.applyinfo .apply-box form button[type=submit] {
    background: #1f3148;
    padding: 13px 20px;
    border: none;
    margin-left: -5px;
    vertical-align: middle;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.applyinfo .info {
    padding: 40px 0 0 0;
    text-align: center;
}

.applyinfo .info p {
    color: #222222;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
}

.applyinfo .info span {
    color: #fb8122;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.info.owl-theme .owl-dots .owl-dot span {
    background: #fed9bc;
    margin: 5px;
}

.info.owl-theme .owl-dots .owl-dot.active span,
.info.owl-theme .owl-dots .owl-dot span:hover {
    background: #fb8122;
}

/*=================================================================
                          Latest Style
=================================================================*/
.latest {
    height: auto;
    padding: 180px 0px 80px 0px;
}

.latest-one {
    background: url('../images/shape-01.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.latest-two {
    background: url('../images/shape-02.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}

.latest h3 {
    color: #333333;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
}

.latest p {
    color: #8c8c8c;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 27px;
}

.latest a {
    display: inline-block;
    margin-top: 20px;
}

/*=================================================================
                          Feature Style
=================================================================*/
.feature {
    height: auto;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
}

.feature figure img {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

.feature h5 {
    color: #333333;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

.feature p {
    color: #8c8c8c;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 27px;
}

/*=================================================================
                          Footer Style
=================================================================*/
footer {
    height: auto;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #f3f0ff;
}

footer p {
    color: #c9c9c9;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}

footer ul.navbar {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: #c9c9c9;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

footer ul li a:hover {
    color: #222222;
    text-decoration: none;
}